/.vscode
/app
/build
/logs
/node_modules
/test
.git
.gitignore
.env.dev
.env.test
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
docker-compose.yml
.dockerignore
Dockerfile
nodemon.json
prometheus-config.yml
tsconfig.json